p, li {
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif
}

p {
    text-align: justify;
}

#main_content h1,
#main_content h2,
#main_content h3,
#main_content h4,
#main_content h5,
#main_content h6 {
    font-family: Gravitas One;
}